*,*:before,*:after{
    box-sizing:inherit;
    -webkit-user-select:inherit;
    user-select:inherit;
    -webkit-user-drag:inherit;
    -webkit-tap-highlight-color:inherit;
    backface-visibility:inherit}
*{
    margin:0;
    padding:0}
html{
    line-height:1;
    box-sizing:border-box;
    -webkit-user-select:none;
    user-select:none;
    -webkit-user-drag:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0)}
main,canvas{display:block}
h1,h2,h3,h4,h5,h6{
    font-weight:inherit;
    font-size:inherit}
a{
    color:inherit;
    text-decoration:none}
ol,ul{list-style:none}
:root{
    --c-bg: hsl(0, 0%, 90%);
    --c-text: hsl(0, 0%, 10%);
    --pad: max(20px, 4vmin)}
html,body{height:100%}
body{
    background-color:var(--c-bg);
    font-family:"Neue Montreal";
    font-weight:600;
    font-size:14px;
    font-feature-settings:"palt";
    -webkit-text-size-adjust:none;
    text-size-adjust:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    overscroll-behavior:none}
#Page{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:var(--c-bg);
    color:#fff;
    white-space:nowrap;
    transition-property:background-color;
    transition-duration:.9s;
    transition-timing-function:cubic-bezier(0.1, 0.4, 0.2, 1)}
#Background{
    position:fixed;
    z-index:1;
    left:var(--pad);
    right:var(--pad);
    top:var(--pad);
    bottom:var(--pad);
    pointer-events:none;
    overflow:hidden}

.frame{
    position:fixed;
    z-index:10;
    left:var(--pad);
    right:var(--pad);
    top:var(--pad);
    bottom:var(--pad);
    mix-blend-mode:difference;
    pointer-events:none}
.frame_line{
    position:absolute;
    background-color:#fff;
    opacity:.5}
.frame_line-left{
    left:0;
    top:0;
    width:1px;
    height:100%}
.frame_line-right{
    right:0;
    top:0;
    width:1px;
    height:100%}
.frame_line-top{
    left:0;
    top:0;
    width:100%;
    height:1px}
.frame_line-bottom{
    left:0;
    bottom:0;
    width:100%;
    height:1px}
.content{
    position:fixed;
    z-index:2;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
    mix-blend-mode:difference}
.content_inner{
    position:relative;
    min-height:100%}
.siteHeader{
    position:fixed;
    z-index:10;
    left:calc(var(--pad)*2);
    top:calc(var(--pad)*2);
    mix-blend-mode:difference}
.siteHeader_title{
    margin:-0.1em 0 0 -0.04em;
    font-weight:200;
    font-size:30px}
.siteHeader_label{margin-top:5px;font-weight:400}
.siteHeader_nav{margin-top:50px}
.siteHeader_nav ol{
    display:flex;
    flex-direction:column;
    row-gap:15px}
.siteHeader_nav ol li{position:relative}
.siteHeader_nav ol li ._dot{
    position:absolute;
    left:0;
    top:2px;
    font-size:10px;
    opacity:0;
    pointer-events:none;
    transition-property:opacity;
    transition-duration:.4s;
    transition-timing-function:cubic-bezier(0.1, 0.4, 0.2, 1)}
.siteHeader_nav ol li ._text{
    position:relative;
    transition-property:opacity;
    transition-duration:.4s;
    transition-timing-function:cubic-bezier(0.1, 0.4, 0.2, 1)}
.page{
    display:none;
    width:100%;
    min-height:calc(var(--vh, 1vh)*100)}
.home{
    position:absolute;
    right:calc(var(--pad)*2);
    bottom:calc(var(--pad)*2);
    white-space:nowrap}
.project{
    padding:calc(var(--pad)*2 + 96px) calc(var(--pad)*2);
    text-align:right;
    white-space:nowrap}
.project_section+.project_section{margin-top:100px}
.project_heading{font-weight:400}
.project_list{margin-top:50px}
.project_list{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    row-gap:15px}
.project_title{
    font-weight:200;
    font-size:30px;
    text-align:right}
.project_info{margin-top:5px}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  .up-arrow {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }